chess-board {
  border: 1px #444 solid;
  display: inline-block;
  height: 1000px;
  width: 1000px;
}

.board-square {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.square-name {
  font-family: verdana;
  font-size: 11px;
  color: darkblue;
  padding: 2px;
  position: absolute;
}

.piece {
  position: relative;
  top: 10px;
  left: 10px;
  width: 75px;
  height: 75px;
}

.game-list {
  display: block;
  padding-bottom: 15px;
}

.game-list a {
  margin-right: 12px;
}

.over {
  box-sizing: border-box;
  border: 5px grey solid;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.selected {
  border:3px solid black;
}

