<div class="container">

  <div class="row">
    <div class="btn-toolbar">
      <button type="submit" class="btn btn-success" (click)="startGame()">Start game</button>
      <button type="submit" class="btn btn-success" (click)="startGame()">Load game</button>
    </div>
  </div>

  <div class="container">
    <div *ngFor="let row of model; let i = index">
      <div class="board-square noselect" *ngFor="let square of row; let j = index"
           [style.background]="square.col === 'W' ? '#FECE9E' : '#D18B46'" #wrap
      >
        <span class="square-name">{{model[i][j].pos}}</span>
        <div *ngIf="square.pc != null" class="piece"
             [style.background-image]="'url(./assets/images/' + square.pc + '.png)'"
             (click)="toggleSelection(wrap)"
        ></div>
      </div>
    </div>
  </div>
</div>
